<div class="container" ng-controller="pessoasCtrl">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form role="form" name="pessoaCadastroForm">
				<h2><small>:: Editar Pessoa ::  </small></h2>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<h5><small>Nome:</small></h5>
							<input type="text" name="nome"  class="form-control input-lg" placeholder="nome" tabindex="1" ng-model="pessoa.nome" ng-required="true">
						</div>

					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<h5><small>CPF:</small></h5>
							<input ng-model="pessoa.cpf" type="text" name="cpf" id="last_name"  ui-mask="{{maskCpf}}" class="form-control input-lg" ng-required="true" tabindex="2">
						
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<h5><small>Sexo:</small></h5>
							<select class="form-control input-lg" ng-model="pessoa.sexo" name="sexo" ng-required="true" tabindex="3">
								<option value=true>Masculino</option>
								<option value=false>Feminino</option>
							</select>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<h5><small>Data de Nascimento:</small></h5>
							<input ng-model="pessoa.dataNasc"  type="text" ng-required="true" name="data_nascimento"  class="form-control input-lg" ui-mask="{{maskDate}}" tabindex="4">
						</div>
					</div>
				</div>
				<hr class="colorgraph">
				<div ng-show="pessoaCadastroForm.nome.$error.required && pessoaCadastroForm.nome.$dirty " class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Preencha o campo nome
				</div>
				<div ng-show="pessoaCadastroForm.cpf.$error.required && pessoaCadastroForm.cpf.$dirty " class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Preencha o campo cpf
				</div>
				<div ng-show="pessoaCadastroForm.sexo.$error.required && pessoaCadastroForm.sexo.$dirty " class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Preencha o campo sexo
				</div>
				<div ng-show="pessoaCadastroForm.data_nascimento.$error.required && pessoaCadastroForm.data_nascimento.$dirty" class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Preencha o campo data de nascimento
				</div>
				<div class="row">
					<div>
						<input type="button" ng-disabled="pessoaCadastroForm.$invalid" ng-click="updatePessoa(pessoa)" value="Addicionar Pessoa" class="btn btn-primary btn-block btn-lg" tabindex="7">
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!-- /.modal -->
</div>